html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #777777;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

.content {
    flex: 1 0 auto;
}

/* Header */
header {
    background: #353637;
    color: #ffffff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #e00000 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header li.flag {
    padding: 0 5px 0 5px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 3px;
}

header .highlight, header .current a {
    color: #e00000;
    font-weight: bold;
}

header a:hover {
    color: #e08080;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.leftframe {
    width: 70%;
    float: left;
}

.rightframe {
    width: 30%;
    float: left;
}

li.bulletlist {
    margin-left: 20px;
    margin-bottom: 4px;
    font-size: 20px;
}

.lyrics {
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul.flag {
    position: fixed;
    right: 0;
}

img.flag {
    height: 32px;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background:url('../img/colberts.png') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    border-bottom: #e00000 3px solid;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */
#newsletter {
    padding: 10px;
    color: #ffffff;
    background: #353637;
}

#newsletter h1 {
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

#newsletter form {
    float: right;
    margin-top: 8px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1 {
    height: 38px;
    background: #cccccc;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}

.box {
    float: left;
    width: 33.33%;
    margin-top: 15px;
}

.boxicon {
    color: #000000;
    margin-left: 20px;
}

.box h3 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.box p {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.box p a {
    color: #ffffff;
    text-decoration: underline;
}

#main {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.mainicon {
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
}

#main h3 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

#main p {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#main p a {
    color: #ffffff;
    text-decoration: underline;
}

.bandphoto {
    max-width: 100%;
    width: 400px;
    float: right;
}

.albumpresentatie {
    max-width: 100%;
}

.coverart {
    max-width: 100%;
    display: block;
}

.music-item {
    border-bottom: #353637 2px solid;
}

.music-picture {
    display: inline-block;
    margin: 10px 6px 6px 30px;
}

.music-picture img {
    max-width: 200px;
}

.music-description {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin: 10px 6px 6px 10px;
}

.music-description h3 {
    margin: 0;
}

#main .pica {
    display: inline-block;
    margin-left: 16px;
}

#main .pica img {
    display: block;
    height: 320px;
}

#main .pica p {
    margin-top: 2px;
    display: block;
}

td {
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.past {
    color:#b0b0b0;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    flex-shrink: 0;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #353637;
    text-align: center;
    border-top: #e00000 3px solid;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

.notice {
    color: #ff0000;
}

/* Responsiveness */
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
    }
}

.fa-spotify {
    color: #1db954;
}

.fa-youtube {
    color: #ff0000;
}

.fa-itunes {
    color: #12AAD9;
}

.fa-facebook {
    color: #3b5998;
}

/* Photo gallery */

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .photo-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }